body {
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
    background-image: url("images/IMG_3686.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: grey;
    font-size: 1.5rem;
    font-weight: 700;
}
.moveallelements{
    text-align: center;
    position: relative;
    pointer-events: auto;
    z-index: auto;
    pointer-events: auto;
    transform: translateY(25%);
}
body, html {
    overflow: auto;
}
h2 {
    display: block;
    color: white;
    background-color: black;
    font-size: 100px;
    font-weight: 20%;
    height: 150px;
    margin: 0;
}
.tittle2 {
    background-color: #2F4F4F;
}
bitcoin, weather {
    font-size: 30px;
    font-weight: bold;
}
button {
    background: none;
    border:none;
    font-size: 40px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
input {
      background: black;
      width: 200px;
      height: 20px;
      color: white;
      font-weight: bold;
      border-radius: 10px;
      transform: translateY(-3%);
}
img {
    z-index: 1;
    width: 100%;
    height: 20%;
    position: fixed;
    top: 0%;
    left: 0%;
}
.open {
    z-index: 2;
    position: fixed;
    top: 3%;
    left: 69%;
    transform: translateY(-50%);
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.sidebar {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  padding-top: 60px;
}
.sidebar.is-open {
  transform: translateX(0);
}
.overlay2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 3;
}
.overlay.is-visible {
    display: block;
}
.menu-list li a {
  margin: 0;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
}
.menu-list, ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-left: 0;
}
#menu-toggle, #close-menu {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    padding: 10px;
}
#close-menu {
    position: absolute;
    top: 10px;
    left: 10px;
}
footer {
    font-weight: 600;
    color: black;
}
h3 {
    display: block;
    color: #FAFAFA ;
    background-color: #343434;
    font-size: 100%;
    font-weight: 700;
    height: 120%;
    margin: 0;
}
#timetable {
    width: 100%;
    border-collapse: collapse;
}
#timetable th {
    background-color: #343434;
    color: #FAFAFA;
    padding: 30px;
    font-size: 2.5rem;
    font-weight: 800;
}
.input::placeholder {
    border: 1px solid #333;
    padding: 15px;
    text-align: center;
    color: black;
    font-size: 1rem;
}
.filespace {
    transform: translateY(10rem,49%);
    height: 15rem;
    width: 10rem;
}
#fileinput { 
   height: 6rem;
}
.preview-box {
   transform: translateY(10rem,49%);
   height: 15rem;
   width: 15rem;
}
#previewimg,#previewvid {
   transform: translateY(10rem,49%);
   height: 15rem;
   width: 15rem;
}
   