body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    background-image: url("images/IMG_3629.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    font-weight: 20%;
}
h2 {
    display: block;
    background-color: black;
    font-size: 100px;
    font-weight: 20%;
    height: 150px;
    margin: 0;
    position: center;
}
.tittle2 {
    background-color: grey;
}
bitcoin, weather {
    font-size: 30px;
    font-weight: bold;
}
button {
    background: none;
    border:none;
    color: white;
    font-size: 40px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
input {
      background: white;
      width: 200px;
      height: 20px;
      color: white;
      border-radius: 10px;
}
img {
    width: 100%;
    height: 650px;
    position: center;
    top: 0px;
}
.myiglink {
    position: relative;
}
#myIG {
    position: absolute;
    top: 83%;
    left: 55%;
    transform: translate(0, 50%);
    border-radius:10px;
    font-size: 60px;
    font-weight: bold;
    color: #6699CC;
    background-color: white;
    text-decoration: none;
    text-align: center;
}
