body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    background: linear-gradient(-45deg, #415800, #e560dc, #ffb374, #ef5f5f, #d840b6);
    background-size: 400% 400%; 
    animation: bg 12s ease infinite;
}
@keyframes bg {
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 100%;
    }
    100%{
      background-position: 0% 50%;
   }
}
button {
    background: none;
    border:none;
    color: black;
    font-size: 10px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
input {
      background: white;
      width: 200px;
      height: 20px;
      color: white;
      border-radius: 10px;
}
img {
    width: 550px;
   height: 700px;
}