body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    background-image: url("images/IMG_3629.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 50px;
    font-weight: 20%;
}
body, html {
    overflow: auto;
}
h2 {
    display: block;
    background-color: black;
    font-size: 100px;
    font-weight: 20%;
    height: 150px;
    margin: 0;
    position: center;
}
.tittle2 {
    background-color: grey;
}
bitcoin, weather {
    font-size: 30px;
    font-weight: bold;
}
button {
    background: none;
    border:none;
    color: white;
    font-size: 40px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
input {
      background: white;
      width: 200px;
      height: 20px;
      color: black;
      font-weight: 20%;
      border-radius: 10px;
}
img {
    width: 100%;
    height: 650px;
    position: center;
    top: 0px;
}
.myiglink {
    position: relative;
}
#myIG {
    position: absolute;
    top: 83%;
    left: 61%;
    transform: translate(0, 50%);
    border-radius:10px;
    font-size: 60px;
    font-weight: bold;
    color: #6699CC;
    background-color: white;
    text-decoration: none;
    text-align: center;
}
#myTikTok {
    position: absolute;
    top: -4%;
    left: 0.5%;
    transform: translate(0, 50%);
    border-radius:10px;
    font-size: 60px;
    font-weight: bold;
    color: #6699CC;
    background-color: white;
    text-decoration: none;
    text-align: center;
}
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  padding-top: 60px;
}
.sidebar.is-open {
  transform: translateX(0);
}
.overlay2 {
    position: fixed;
    top: 0;
    rigt: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 5;
}
.overlay.is-visible {
    display: block;
}
.menu-list li a {
  margin: 0;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
}
ul f {
  list-style-type: disc;   /* disc, circle, square, none */
  padding-left: 20px;      /* space between bullet and page edge */
  margin-left: 0;          /* optional: remove extra margin */
}
#menu-toggle, #close-menu {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    top: -5%;
    left: 61%;
    padding: 10px;
}
#close-menu {
    position: absolute;
    top: 0;
    right: 0;
}
