body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    background-image: url("images/IMG_3629.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
h2 {
    display: block;
    background-color: black;
    font-size: 100px;
    font-weight: bold;
    height: 150px;
    margin: 0;
    position: center;
}
div {
    background-color: grey;
}
bitcoin, weather {
    font-size: 30px;
    font-weight: bold;
}
button {
    background: none;
    border:none;
    color: white;
    font-size: 40px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
input {
      background: white;
      width: 200px;
      height: 20px;
      color: white;
      border-radius: 10px;
}
img {
    width: 600px;
    height: 700px;
    position: center;
    top: 0px;
}
.myiglink {
    position: relative;
    text-align: center;
}
#myIG {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(80%, 5%);
    font-size: 30px;
    font-weight: bold;
    color: #6699CC;
    background-color: white;
    text-decoration: none;
    text-align: center;
}
