body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    background-image: url("images/IMG_3629.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
h2 {
    display: outline-block;
    background-color: black;
    font-size: 50px;
    font-weight: bold;
}
button {
    background: none;
    border:none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
input {
      background: white;
      width: 200px;
      height: 20px;
      color: white;
      border-radius: 10px;
}
img {
    width: 600px;
   height: 700px;
   margin: 0;
}