body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100vh;
    background-image: url("images/IMG_3629.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 50px;
    font-weight: 20%;
}
.moveallelements{
    z-index: 0;
    transform: translateY(38%);
}
body, html {
    overflow: auto;
}
h2 {
    display: block;
    background-color: black;
    font-size: 100px;
    font-weight: 20%;
    height: 150px;
    margin: 0;
}
.tittle2 {
    background-color: grey;
}
bitcoin, weather {
    font-size: 30px;
    font-weight: bold;
}
button {
    background: none;
    border:none;
    color: white;
    font-size: 40px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
input {
      background: white;
      width: 200px;
      height: 20px;
      color: black;
      font-weight: 20%;
      border-radius: 10px;
      transform: translateY(-3%);
}
img {
    z-index: 1;
    width: 100%;
    height: 650px;
    position: fixed;
    top: 0%;
    left: 0%;
}
.open {
    z-index: 2;
    position: fixed;
    top: 3%;
    left: 69%;
    transform: translateY(-50%);
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px;
}
.sidebar {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  padding-top: 60px;
}
.sidebar.is-open {
  transform: translateX(0);
}
.overlay2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 3;
}
.overlay.is-visible {
    display: block;
}
.menu-list li a {
  margin: 0;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
}
.menu-list, ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-left: 0;
}
#menu-toggle, #close-menu {
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    padding: 10px;
}
#close-menu {
    position: absolute;
    top: 10px;
    left: 10px;
}
